h1{
    text-shadow: 2px 2px 2px red;  
    text-shadow: 2px 2px 2px red, 20px 2px 2px green; 
    /* horizontal length, vertical length, blur 
       we can have multiple shadows using the same attributes again and again */
}
.box{
    background-color: aqua;
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 10px red, -10px -10px 10px green;
}